@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app {
  display: flex;
  flex-direction: row;
}

.left-column,
.right-column {
  height: 100vh;
  min-width: 320px;
  padding: 10px;
  overflow-y: auto;
  background-color:#e5d0ff;
}

.center-column {
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
}

.floating-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 20px 30px;
  background-color: 	#FFF8C9;
  color: #633d92;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  max-height: 100vh;
}