@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-column,
.right-column {
  height: 100vh;
  width: 200px; /* Adjust width as needed */
  padding: 10px;
}

.center-column {
  flex-grow: 1;
  padding: 10px;
  position: relative;
}

.filters {
  background-color: #DFCCFB; /* Example background color */
}

.sorting {
  background-color: #DFCCFB; /* Example background color */
}

.floating-button {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  padding: 10px 15px; /* Adjust padding to make the button bigger */
  background-color: #BEADFA;
  color: white;
  border: none;
  border-radius: 30px; /* Adjust border radius to make the edges rounded */
  cursor: pointer;
  font-size: 20px; /* Adjust font size if needed */
}