body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5d0ff;
}

.expanded {
  min-width: 600px;
  max-width: 1000px;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; 
  text-align: center;
  background-color: white;
}

.listing-title {
  font-size: 15pt;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #bf8bff;
  color: white;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.tag {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #cca3ff;
  color: #6b5786;
}

.opt-tag {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #cca3ff;
  color: white;
}

.yellow-box {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #FFF8C9;
  color: #6b5786;
}

.sub-box{
  margin-top: 5pt;
}

.purple-box {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  border-width: 3pt;
  border-color: #e5d0ff;
  color: #6b5786;
}

.photo-container {
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  object-fit: cover;
  margin: 5px;
}

.title-photo {
  width: 400px;
  border-radius: 50px;
  object-fit: cover;
  margin: 5px;
}