.card {
  min-width: 400px;
  max-width: 500px;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  border-color: #cca3ff;
  border-width: 3pt;
  display: flex;
  color: #6b5786;
  flex-direction: column;
  justify-content: center;
  gap: 10px; 
  text-align: center;
}

.listing-title {
  font-size: 15pt;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #cca3ff;
  color: white;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.tag {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #cca3ff;
  color: #6b5786;
}

.opt-tag {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #cca3ff;
  color: white;
}

.yellow-box {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #FFF8C9;
  color: #6b5786;
}

.purple-box {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  border-width: 3pt;
  border-color: #e5d0ff;
  color: #6b5786;
}

.learn-more {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #FFF8C9;
  color: #6b5786;
  text-decoration: underline;
  display: inline-block;
}

.card-photo {
  width: 200px;
  border-radius: 30px;
}

.card-photo-container {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
}