.post-form{
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  background-color: #dabcff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; 
  text-align: center;
  overflow-y: auto;
  max-height: 1000px;
}

.input-field {
  margin-bottom: 5px;
}

.text-input {
  color: black;
  width: 230px
}

.expanded {
  min-width: 400px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; 
  text-align: center;
  overflow-y: auto;
}

.title {
  font-size: 15pt;
  border-radius: 20px;
  overflow-y: auto;
  color: #6b5786;
  background-color: #FFF8C9;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


.tag {
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: #bf8bff;
  color: white;
}

.tagButton {
  border-radius: 20px;
  background-color: #FFF8C9;
  color: #6b5786;
  text-align: center;
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
}